* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  font-family:'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
  margin:0;
}
.divider{
  height:3px;
  margin:10px 10px 10px 10px;
  background-color:rgba(0,0,0,0.05);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.navbar{
  width:100%;
}
.navbar__menu{
  display:none;
}
.navbar__item{
  flex:0 1 auto;
  justify-content: center;
}
.navbar__item-link{
  color:inherit;
  text-decoration:none;
}
#i2cx{
  padding:0;
  margin:0 0 0 0;
  width:100%;
}
#i39s{
  justify-content:space-between;
  align-items:center;
  min-height:auto;
  font-family:'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:10px 10px 10px 0;
}
#iyg5{
  flex:0 1 auto;
  padding:5px 5px 5px 0;
  position:relative;
  flex-basis:81.6auto;
}
#iku1{
  flex:0 1 auto;
}
#ij7d{
  width:35px;
  height:35px;
  cursor:pointer;
}
#iqygz{
  flex:0 1 auto;
  justify-content: center;
  color:#000000;
  font-family:'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#icx92{
  justify-content: center;
  align-items:center;
  min-height:auto;
  color:#ffffff;
}
#i0sok{
  min-height:100vh;
  background-image:linear-gradient(to right, #50177c 0%, #0098a3 100%);
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-color:#000000;
}
#im4j{
  color:#ffffff;
}
#id36r{
  padding:0 0 25px 0;
}
#i8ttl{
  display:inline-block;
  padding:5px 5px 5px 0;
  min-height:50px;
  min-width:50px;
}
#i98ol{
  color:black;
  height:338px;
  width:308px;
  padding-right: 10px;
}
#ijj8x{
  flex:0 1 auto;
  color:#000000;
}
#icj6r{
  align-items:center;
  min-height:auto;
}
#i8b7h{
  width:32px;
  height:32px;
}
#irxqe{
  display:none;
}
#iczti{
  padding:5px 15px 5px 15px;
}
#itpgo{
  color:#ffffff;
  font-size: 18px;
}
#i2s7k {
  color: #ffffff;
  font-size: 18px;
}
#i0byf{
  padding:5px 15px 5px 15px;
}
#i76ek{
  padding:5px 15px 5px 15px;
}
#i2zhr{
  color:#ffffff;
  font-size: 18px;
}
#it1ag{
  margin:20vh 0 0 0;
  flex:0 1 auto;
  padding:5px 5px 5px 0;
}
#i7q2g{
  font-family:Open Sans, sans-serif;
  font-size:92px;
  color:#ffffff;
  margin:0 0 56px 0;
}
#i83me{
  font-family:Open Sans, sans-serif;
  padding:10px 10px 10px 0;
}
#iirfv{
  padding:100px 0 100px 0;
  font-family:Open Sans, sans-serif;
  background-image:radial-gradient(circle at right, #00cac5 0%, #8d0092 100%);
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
#igfoc{
  padding:10px 10px 10px 0;
}
#iz6km{
  height:3px;
  margin:10px 10px 10px 10px;
}
#ijb49{
  align-self:center;
  text-align:center;
}
#i8rbs{
  margin:0 80px 0 0;
  align-self:center;
}
#ivd83{
  font-family:'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:100px 0 0 0;
  background-color:#F5F5F5;
}
#iedea{
  text-align:center;
  font-family:Open Sans, sans-serif;
}
#ir4gt{
  color:#ffffff;
  background-color:#000000;
}
#ix2vp{
  text-align:center;
  color:rgba(255,255,255,0.28);
  background-color:#000000;
}
#if1fe{
  font-family:'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgba(255,255,255,0.28);
}
#ict62{
  background-image:linear-gradient(#000000,#000000);
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
#i2l2b{
  text-align:center;
  margin:0 auto 0 auto;
  width:100%;
}
#i8kc2{
  justify-content:center;
  align-items:center;
}
#i1oil{
  font-family:'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:25px 0 0 0;
}
#iqlr1p{
  width:100%;
  height:700px;
}
#ipji3{
  color:#ffffff;
  background-color:#000000;
  font-size:large;
  text-decoration:none;
  font-family:'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:10px 25px 10px 25px;
}
#ivpoh{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
}
#ivgah{
  display:inline-block;
  min-width:50px;
}
#ii9px{
  color:black;
  width:37px;
  height:37px;
  padding-right: 10px;
}
#izgf6{
  color:black;
}
#i07np{
  position:relative;
  top:auto;
  right:auto;
  bottom:auto;
  left:auto;
  z-index:auto;
}
@media (max-width: 768px){
  .navbar__menu{
    display:block;
  }
  .navbar__items{
    display:none;
    width:100%;
  }
  .navbar__item{
    flex:1 1 100%;
  }
  .navbar__items-grid{
    flex-wrap:wrap;
  }
  .navbar__item-link{
    width:100%;
  }
  #irxqe{
    display:inherit;
  }
  #ijj8x{
    display:none;
  }
  #i7q2g{
    font-size:82px;
  }
  #i39s{
    max-width:100%;
  }
  #iqlr1p{
    width:350px;
    height:350px;
  }
  #i21gv{
    display:inline-block;
    min-width:50px;
    color:#ffffff;
  }
}
@media (max-width: 375px){
  #iqlr1p{
    width:300px;
    height:300px;
  }
  #ir8b2{
    flex-basis:1auto;
  }
  #i7q2g{
    font-size:72px;
  }
}
